/*
@autor: Viktor Kosinov 
url: mailto:vkosinov@ya.ru
*/
body{
  overflow-x:hidden; 
}

}
input{
  -webkit-appearance: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
text-overflow: '';
}
select{
   -webkit-appearance: none;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
text-overflow: '';

}
/*block-1*/
.block-1{
  background: #291c2d url('../i/fon.jpg') no-repeat 50% 50%;
  height: 1260px;
}

/* header */
header{
  height: 100px;
}
.logo{
  float: left;
  margin: 50px 0px 0px 50px;
}
.top_right{
  height: 50px;
  width: 490px;
  float: right;
  margin: 50px 50px 0px 0px;
}
.top_right figure{
  float: left;
  margin: 0px;
  text-align: left;
  margin-left: 50px;
}
.top_right figure:nth-of-type(1){
  margin-left: 0px;
}
.top_right figure p:nth-of-type(1){
  color: #fff;
  font: bold 17px Arial ;
}
.top_right figure p:nth-of-type(2){
  color: #f69d31;
  font: bold 26px Arial ;
}
/* WRAPER*/
.wraper{
  width: 1180px; 
  margin: 0 auto;
}
.wraper h1{
  text-align: center;
  font: 19px Arial;
  padding-top: 20px;
  color: #fff;
}
.wraper h2{
  text-align: center;
  font: bold 337px Arial;
  padding-top: 10px;
  color: #fff;
  text-shadow: -10px -5px 5px black;
}
.elem-1{
  height: 130px;
  margin-left: 130px;
  margin-top: 10px;
}
.elem-1 figure:nth-of-type(1) p{
   font: bold 18px Arial;
   text-align: left;
   color: #fff;
}
.elem-1 figure:nth-of-type(1) input[type='text']{
    padding-left: 30px;
    color: #080808;
    width: 270px;
    height: 60px;
    border-radius: 5px;
    border: 0px;
    font: 20px Arial;
    color: #000;
    margin-top: 20px;
    box-shadow: 3px 3px 10px #000;
}
.elem-1 figure{
    float: left;
}
.elem-1 figure:nth-of-type(2) button{
   width: 230px;
   height: 95px;
   border-radius: 5px;
   border: solid 5px #f39e2d;
   color: #f39e2d;
   background: #272647;
   font: 40px Arial;
   margin-top: 10px;
   box-shadow: 3px 3px 10px #000;
}
.elem-1 figure:nth-of-type(3) button{
   width: 230px;
   height: 95px;
   border-radius: 5px;
   border: solid 2px #09081d;
   color: #fff;
   background: #272647;
   font: 40px Arial;
   margin-top: 10px;
   box-shadow: 3px 3px 10px #000;
}
.gp_h{
  height: 50px;
  margin-top: 70px;   
  margin-bottom: 30px;
  border-bottom: 1px solid #f79d31;
}
.gp_h h3{
  text-align: center;
  color: #fff;
  font: normal 23px Arial;
}
.gp_h h3:before{
  position: absolute;
  width: 24px;
  height: 20px;
  content: '';
  background: url('../i/before.png');
  margin-left: -45px;
  margin-top: 4px;
}
.gp table{
  color: #fff;
  width: 1180px; 
  font: 18px Arial;
  margin-top: -30px;
}
.gp table tr{
  display: block;
  height: 60px;
  border-radius: 6px;
  border: 1px solid #424242;
  line-height: 60px;
  margin-top: 15px;
}
.gp table tr:nth-of-type(2){
    border: 2px solid #eda02c;
}
.gp table tr td{
  padding-left: 20px;
}
.gp table tr:nth-of-type(1){
  font: 12px Arial;
  line-height: 60px;
  border: none;
  margin-left: -15px;
}
.gp table tr td:nth-of-type(2){
  padding-left: 190px;
}
.gp table tr td:nth-of-type(3){
  padding-left: 90px;
}
.gp table tr td:nth-of-type(4){
  padding-left: 150px;
}
.gp table tr td:nth-of-type(5){
  padding-left: 65px;
}
.gp table tr td:nth-of-type(6){
  padding-left: 115px;
}
.gp table tr td:nth-of-type(7){
  padding-left: 100px;
}
.gp table tr:nth-of-type(1) td:nth-of-type(2){
  padding-left: 283px
}
.gp table tr:nth-of-type(1) td:nth-of-type(3){
  padding-left: 115px
}
.gp table tr:nth-of-type(1) td:nth-of-type(4){
  padding-left: 133px
}
.gp table tr:nth-of-type(1) td:nth-of-type(5){
  padding-left: 73px
}
.gp table tr:nth-of-type(1) td:nth-of-type(6){
  padding-left: 106px
}
.gp table tr:nth-of-type(1) td:nth-of-type(7){
  padding-left: 70px
}
/* FOOTER */
footer{
  width: 340px;
  margin: 0 auto;
  font: 20px Arial;
  color: #fff;
  margin-top: 70px;
}
footer p{
  float: left;
}
footer a{
  float: left;
  padding-left: 30px;
  text-decoration: none;
  color: #fff;
}