@font-face {
  font-family: 'ProximaNova-Bold';
  src: url(~fonts/ProximaNova-Bold/ProximaNova-Bold.woff);
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url(~fonts/ProximaNova-Regular/ProximaNova-Regular.woff)
}