@font-face {
  font-family: 'ProximaNova-Bold';
  src: url('/static/fonts/ProximaNova-Bold/ProximaNova-Bold.woff');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('/static/fonts/ProximaNova-Regular/ProximaNova-Regular.woff')
}