.roll-but {
  cursor: pointer;
  background-color: #d08c49;
  transition: all .5s;
  &:hover {
    animation: animRoll 1s infinite
  }
}

.roll-text {
  cursor: pointer;
  font-family: $prox_b;
  font-size: 17px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff
}

input.game-inp {
  &.error {
    color: red;
  }
}

.roll-capt {
  font-size: 14px;
  line-height: 1.4;
  color: #d08c49
}

.blockchain-capt {
  font-family: $prox_b;
  font-size: 1.5em;
  line-height: 1.4
}

.blockchain-tx {
  cursor: pointer;
  &:hover > .blockchain-link {
    transform: scale(1.1)
  }
}

.blockchain-contract {
  cursor: pointer;
  transition: all .6s;
  &:hover > .blockchain-link {
    transform: scale(1.1)
  }
}

.blockchain-link {
  font-family: $prox_b;
  color: #fff;
  background-color: #337ab7;
  border-radius: 6px;
  transform-style: preserve-3d;
  transition: all .6s
}

@keyframes animRoll {
  0% {
    transform: scale(1)
  }
  50% {
    transform: scale(1.1)
  }
  100% {
    transform: scale(1)
  }
}