.close-capt {
  font-size: 16px;
}

.close-but {
  font-family: $prox_b;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
  // border: 2px solid #bb5d00;
  background-color: #bb5d00;
  border-radius: 6px;
  transition: all .6s;
  &:hover {
      // background-color: #000;
      transform: scale(1.06)
  }
}

.close-popup {
  background-color: rgba(0,0,0, .7);
  
  &__table {
      background-color: $main_bg;
      border: 1px solid $text_g;
      border-radius: 5px;
      transform: translate(-50%, -50%);
      transition: all 1s;
  }

  &__log {
    font-family: $prox_b;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
  }

  @media tablet {
      padding: 0 20px;
  }
}

.closeChannel-enter-active, .closeChannel-leave-active {
  transition: opacity .5s;
}
.closeChannel-enter, .closeChannel-leave-to {
  opacity: 0;
}