html {
	background-color: #000000;
}

html, body, #tbl_wrap { 
	height: 100%; 
	width: 100%; 
	padding: 0; 
	margin: 0; 
	
	-moz-user-select: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#td_wrap { 
	vertical-align: middle;
	text-align: center; 
}
@font-face {
   font-family: 'Luckiest Guy';
   src: url('../fonts/LuckiestGuy.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-game {
   font-family: 'Impact';
   src: url('../fonts/impact.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.orientleft #shell {
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:160px 160px;
}

.orientright #shell {
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:230px 230px;
} 